{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>登录</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{% static "login/css/style.css" %}" />

<body>

<div class="login-container">
	<h1>用户登录</h1>
	<div class="connect">
        <h2 style="color: {{ msg.color }} ;text-align: center;font-size: 15px;" ><b>{{ msg.text }}</b></h2>
		<p>www.lixiangting.com</p>
	</div>

	<form action="{% url 'login' %}" method="post">
        {% csrf_token %}
		<div>
			<input type="text" name="username" class="username" placeholder="用户名"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
        <div style="display: none;">
            <input id="next" type="text" name="next_url" value="{{ next_url }}" />
        </div>
		<button id="submit" type="submit">登 录</button>
	</form>

	<a href="{% url 'reg' %}">
		<button type="button" class="register-tis">还有没有账号？</button>
	</a>

</div>

<script src="{% static "login/js/jquery.min.js" %}"></script>
<script src="{% static "login/js/common.js" %}"></script>
<!--背景图片自动更换-->
<script src="{% static "login/js/supersized.3.2.7.min.js" %}"></script>
<script src="{% static "login/js/supersized-init.js" %}"></script>
<!--表单验证-->
<script src="{% static "login/js/jquery.validate.min.js" %}"></script>

</body>
</html>