{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据清洗{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="data-table" lay-filter="data-table"></table>
                        <script type="text/html" id="item-operation">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                        </script>

                        <script type="text/html" id="toolbar">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="reloadData">刷新</button>
{#                                {% if detection.count != 0 %}#}
{#                                    <button class="layui-btn layui-btn-sm" lay-event="duplicateCheck">去重(选中)</button>#}
{#                                    <button class="layui-btn layui-btn-sm" lay-event="duplicateAll">去重(全部)</button>#}
{#                                {% else %}#}
{#                                    <button class="layui-btn layui-btn-sm" lay-event="validityCheck">有效性检测(选中)</button>#}
{#                                    <button class="layui-btn layui-btn-sm" lay-event="validityCheckAll">有效性检测(全部)</button>#}
{#                                {% endif %}#}
                            </div>
                        </script>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: '/lib/index',  //主入口模块
            cleaning: 'public/cleaning'
        }).use(['index', 'cleaning']);
    </script>
{% endblock %}