{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据清洗{% endblock %}
{% block header_include %}
    <style>
        .layui-form-item .layui-input-inline {
            width: 100px !important;
        }
    </style>
{% endblock header_include %}
{% block content %}
    <div class="layui-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">

                        <form id="filterData" class="layui-form" style="">

                            <div class="layui-form-item" style="margin-bottom: 10px;">

                                <div class="layui-inline">
                                    <label class="layui-form-label">ID</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="id" id="filterId" autocomplete="off"
                                               lay-verify="number">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">职位类型</label>
                                    <div class="layui-input-inline">
                                        <select name="position_type__name">
                                            <option value="">请选择职位类型</option>
                                            {% for type in all_type %}
                                                <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">公司名称</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="company__name__contains" id="filterCompany"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">职位名称</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="position_name__contains" id="filterPosition"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">薪资范围</label>
                                    <div class="layui-input-inline">

                                        <div id="salaryRange" class="demo-slider" style="margin-top: 15px;"></div>
                                        <input name="salary" id="filterSalary" type="hidden">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                   <label class="layui-form-label">所在城市</label>
                                   <div class="layui-input-inline">
                                       <input type="text" name="position" id="filterLocation" lay-filter="filterLocation" class="layui-input">
                                   </div>
                               </div>

                            </div>

                            <button class="layui-btn" id="filter" data-type="filter" type="button"
                                    style="position: absolute; right: 25px; top: 10px;">筛选
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary"
                                    style="position: absolute; right: 25px; top: 60px;">重置
                            </button>

                        </form>
                    </div>

                    <table class="layui-hide" id="test-table-toolbar" lay-filter="list-filter"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                        {#                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>#}
                        {#                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>#}
                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: '/lib/index' //主入口模块
        }).use(['index', 'table', "form", 'tree', 'slider', 'treeSelect'], function () {
            var table = layui.table
                , $ = layui.jquery
                , form = layui.form
                , slider = layui.slider
                , treeSelect = layui.treeSelect;

            form.render();

            slider.render({
                elem: '#salaryRange'
                , value: 100
                , range: true
                , setTips: function (val) {
                    return val + 'K';
                }
                , change: function (val) {
                    $('#filterSalary').val(val[0] + "," + val[1]);
                }
            });
            treeSelect.render({
                elem: '#filterLocation',
                data: '{% url 'position:node_data' %}',
                type: 'post',
                placeholder: '请选择所在城市',
                search: true,
                style: {
                    folder: {
                        enable: false
                    },
                    line: {
                        enable: true
                    }
                },
                click: function (d) {
                    $('#filterLocation').val(d.current.name);
                    $('#filterLocation').attr("name", d.current.type);
                }
            });

        //方法级渲染
        table.render({
            elem: '#test-table-toolbar'
            , url: '{% url 'position:display_filter' %}'
            , method: 'GET'
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, fixed: 'left', sort: true}
                , {field: 'company__name', title: '公司名称', width: 101, sort: true}
                , {field: 'position_type__name', title: '职位类型', width: 101, sort: true}
                , {field: 'position_name', title: '职位名称', width: 150, sort: true}
                , {field: 'position_city__name', title: '所在城市', width: 101, sort: true}
                , {field: 'position_district__name', title: '所在地点', width: 101, sort: true}
                , {field: 'education__name', title: '学历要求', width: 101, sort: true}
                , {field: 'experience__name', title: '经验要求', width: 120, sort: true}
                , {field: 'salary', title: '薪资', width: 100, sort: true}
                , {
                    field: 'update_time', title: '最后修改时间', width: 180, sort: true, templet: function (d) {
                        return d.update_time.replace("T", "\t");
                    }
                }
                , {fixed: 'right', title: '操作', width: 80, align: 'center', toolbar: '#barDemo'}
            ]]
            , id: 'dataForm'
            , page: true
        });

        var $ = layui.$, active = {
            filter: function () {
                const filter = $('#filterData').serialize();
                table.reload('dataForm', {
                    url: "{% url "position:display_filter" %}?" + filter
                    , page: { curr: 1 }
                    , method: "GET"
                    , where: {}
                }, 'data');
            }
        };

        $('#filter').on('click', function () {
            const type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听行工具事件
        table.on('tool(list-filter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            const data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                window.open("https://www.lagou.com/jobs/" + data.id + ".html");
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        })
        ;
    </script>


{% endblock %}