{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据清洗{% endblock %}
{% block header_include %}
    <style>
        .layui-form-item .layui-input-inline {
            width: 100px !important;
        }
    </style>
{% endblock header_include %}
{% block content %}
    <div class="layui-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">

                        <form id="filterData" class="layui-form" style="">

                            <div class="layui-form-item" style="margin-bottom: 10px;">

                                <div class="layui-inline">
                                    <label class="layui-form-label">ID</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="id" id="filterId" autocomplete="off"
                                               lay-verify="number">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">职位类型</label>
                                    <div class="layui-input-inline">
                                        <select name="position_type__name">
                                            <option value="">请选择职位类型</option>
                                            {% for type in all_type %}
                                                <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">公司名称</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="company__name__contains" id="filterCompany"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">职位名称</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="position_name__contains" id="filterPosition"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">薪资范围</label>
                                    <div class="layui-input-inline">

                                        <div id="salaryRange" class="demo-slider" style="margin-top: 15px;"></div>
                                        <input name="salary" id="filterSalary" type="hidden">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                   <label class="layui-form-label">所在城市</label>
                                   <div class="layui-input-inline">
                                       <input type="text" name="position" id="filterLocation" lay-filter="filterLocation" class="layui-input">
                                   </div>
                               </div>

                            </div>

                            <div style="text-align: right;">
                                <button class="layui-btn" id="filter" data-type="filter" type="button">筛选</button>
                                <button type="reset" class="layui-btn layui-btn-primary" style="margin-right: 50px">重置</button>
                            </div>

                        </form>
                    </div>

                    <table class="layui-hide" id="test-table-toolbar" lay-filter="list-filter"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                        {#                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>#}
                        {#                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>#}
                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}'
        }).extend({
            index: '/lib/index',
            display: 'position/display'
        }).use(['index', 'display']);
    </script>


{% endblock %}