{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">

            <div class="layui-card">
                <div class="layui-card-header">职位标签词云</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="wdCloud">
                        <div carousel-item id="wdCloud">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">职位平均薪资</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="salary">
                        <div carousel-item id="salary">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">职位学历要求</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="EduNum">
                        <div carousel-item id="EduNum">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">每日入库量</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="dailyNum">
                        <div carousel-item id="dailyNum">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">公司融资情况</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="companyFinancing">
                        <div carousel-item id="companyFinancing">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            {#            <div class="layui-card">#}
            {#                <div class="layui-card-header">职位数量走势</div>#}
            {#                <div class="layui-card-body">#}
            {##}
            {#                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"#}
            {#                         lay-filter="LAY-index-normline">#}
            {#                        <div carousel-item id="LAY-index-normline">#}
            {#                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </div>#}

            {#            <div class="layui-card">#}
            {#                <div class="layui-card-header">职位薪资状况</div>#}
            {#                <div class="layui-card-body">#}
            {##}
            {#                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"#}
            {#                         lay-filter="LAY-index-diffline">#}
            {#                        <div carousel-item id="LAY-index-diffline">#}
            {#                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="layui-col-md6">

            <div class="layui-card">
                <div class="layui-card-header">职位城市分布</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="Distribution">
                        <div carousel-item id="Distribution">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">职位经验要求</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="ExpNum">
                        <div carousel-item id="ExpNum">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">公司规模</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="companyScale">
                        <div carousel-item id="companyScale">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">公司所属行业分布</div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="cpyIndustry">
                        <div carousel-item id="cpyIndustry">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block tail_js %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: '/lib/index' //主入口模块
        }).use(['index', 'senior_position'], function () {
            var layer = layui.layer;

            {% if is_first_use %}
                layer.confirm('检测到系统为首次运行。为保证数据正常显示，请先前往"公共模块->爬虫管理"进行数据采集。',
                    {closeBtn: false, btn: ['确定', '刷新'], icon:2, title: '提示'}, function (index) {
                        parent.layui.index.openTabsPage('{% url 'public:spider_view' %}', '爬虫管理');
                    } , function (index) {
                        window.location.reload();
                });
            {% endif %}
        })
    </script>
{% endblock %}