{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">

                        <ul class="layui-timeline" id="test-flow-auto">

                        </ul>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block tail_js %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}'
        }).extend({
            index: 'lib/index',
            timeline: 'COVID19/timeline'
        }).use(['index', 'timeline']{% if is_first_use %}, function () {
                layer.confirm('检测到系统为首次运行。为保证数据正常显示，请先前往"公共模块->爬虫管理"进行数据采集。',
                    {closeBtn: false, btn: ['确定', '刷新'], icon: 2, title: '提示'}, function (index) {
                        parent.layui.index.openTabsPage('{% url 'public:spider_view' %}', '爬虫管理');
                    }, function (index) {
                        window.location.reload();
                    });
            }{% endif %});
    </script>
{% endblock %}