{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-md7">
                <div class="layui-card">
                    <div class="layui-card-header">疫情简介</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-backlog">
                            <div carousel-item>
                                {% for items in introduction %}
                                    <ul class="layui-row layui-col-space10">
                                        {% for item in items %}
                                            {% if item %}
                                                <p><span class="layui-badge-dot"></span> {{ item }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md5">
                <div class="layui-card">
                    <div class="layui-card-header">截至 {{ update_time }} 全国数据统计</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-backlog">
                            <div carousel-item>
                                {% for items in counter %}
                                    <ul class="layui-row layui-col-space10">
                                    {% for item in items %}
                                        <li class="layui-col-xs6">
                                            <a href="#{{ item.href }}" class="layadmin-backlog-body">
                                                <h3>{{ item.name }} <span class="layui-badge"
                                                                          style="background-color: {{ item.color }}">较昨日+{{ item.incr }}</span>
                                                </h3>
                                                <p><cite style="color: {{ item.color }};">{{ item.count }}</cite></p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">确诊/疑似城市分布</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="DistributionCS">
                            <div carousel-item id="DistributionCS">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">治愈/死亡城市分布</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="DistributionCD">
                            <div carousel-item id="DistributionCD">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-md12">

                <div class="layui-card" id="c_s">
                    <div class="layui-card-header">疫情确诊/疑似日增趋势</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="pneumoniaCSIncr">
                            <div carousel-item id="pneumoniaCSIncr">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header">疫情确诊/疑似总量趋势</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="pneumoniaCSSum">
                            <div carousel-item id="pneumoniaCSSum">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-card" id="c_s">
                    <div class="layui-card-header">疫情确诊/疑似日增趋势</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="pneumoniaCDIncr">
                            <div carousel-item id="pneumoniaCDIncr">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-card" id="c_d">
                    <div class="layui-card-header">疫情治愈/死亡总量趋势</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                             lay-filter="pneumoniaCDSum">
                            <div carousel-item id="pneumoniaCDSum">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            {#            <div class="layui-col-md6">#}
            {##}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: '/lib/index' //主入口模块
        }).use(['index', 'senior_wuhan2020'], function () {
            var layer = layui.layer;

            {% if is_first_use %}
                layer.confirm('检测到系统为首次运行。为保证数据正常显示，请先前往"公共模块->爬虫管理"进行数据采集。',
                    {closeBtn: false, btn: ['确定', '刷新'], icon: 2, title: '提示'}, function (index) {
                        parent.layui.index.openTabsPage('{% url 'public:spider_view' %}', '爬虫管理');
                    }, function (index) {
                        window.location.reload();
                    });
            {% endif %}
        })
    </script>
{% endblock %}