{% extends 'lib/base.html' %}
{% load static %}
{% block title %}代理池{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">代理池</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="proxy-data-form" lay-filter="proxy-data-form"></table>
                        {% csrf_token %}
                        <script type="text/html" id="proxy-toolbar">
                            <div class="layui-btn-container">
                                <button type="button" class="layui-btn layui-btn-sm" id="upload"><i class="layui-icon"></i>导入</button>
                                <button class="layui-btn layui-btn-sm" lay-event="verify">验证可用性</button>
                            </div>
                        </script>

                        <script type="text/html" id="test-table-switchTpl">
                            {% verbatim %}
                            <input type="checkbox" name="available" lay-skin="switch" lay-text="是|否"
                                   lay-filter="test-table-sexDemo"
                                   value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}"
                                    {{ d.is_available == 1 ? "checked" : "" }}>
                            {% endverbatim %}
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'form', 'upload'], function () {
            var table = layui.table
                , form = layui.form
                , $ = layui.jquery
                ,upload = layui.upload;

            table.render({
                elem: '#proxy-data-form'
                , url: '{% url 'public:getProxy' %}'
                , method: 'POST' //方式
                , cellMinWidth: 80
                , toolbar: '#proxy-toolbar'
                , title: '数据表'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', sort: true}
                    , {field: 'type', title: '代理类型'}
                    , {field: 'protocol', title: '代理协议', width: 90}
                    , {field: 'address', title: '代理地址', width: 150}
                    , {field: 'port', title: '端口号', width: 100}
                    , {field: 'warehousetime', title: '入库时间', width: 170, sort: true}
                    , {field: 'updatetime', title: '更新时间', width: 170, sort: true}
                    , {field: 'is_available', title: '是否有效', width: 100, templet: '#test-table-switchTpl', unresize: true, sort: true}
                    {#, {field: 'lock', title: '是否锁定', width: 110, templet: '#test-table-checkboxTpl', unresize: true}#}
                ]]
                , page: true
                , id: 'proxyForm'
            });

            table.on('toolbar(proxy-data-form)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'verify':
                        var verifyData = checkStatus.data;
                        validityids = [];
                        /*
                        if (verifyData.length === 0) {
                            layer.msg('请选择需要验证的数据', {icon: 5, time: 2000});
                        } else {
                        */
                            for (var i = 0; i < verifyData.length; i++) {
                                validityids.push(verifyData[i].id);
                            }
                            layer.confirm('即将执行验证操作，是否继续？', function () {
                                layer.msg('正在验证', {icon: 16, time: 500}, function () {
                                    verify(validityids, table);
                                });
                            });
                        //}
                        break;
                }
            });

            upload.render({ //允许上传的文件后缀
                elem: '#upload'
                , url: '{% url 'public:uploadProxy' %}'
                , accept: 'file' //普通文件
                , exts: 'csv' //只允许上传csv文件
                , data: {
                    'csrfmiddlewaretoken': function () {
                        //return $(":input:first").val();
                        return $("input[name='csrfmiddlewaretoken']").attr('value');
                    }
                }
                , done: function (res) {
                    if(res.status===1){
                        layer.msg('上传成功', {icon: 1}, function () {
                            table.reload('proxyForm', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                                , where: {key: {}}
                            }, 'data');
                        });
                    }else if(res.status===0){
                        layer.msg('上传失败，' + res.message, {icon: 2});
                    }
                }
            });

            //监听修改有效性操作
            form.on('switch(test-table-sexDemo)', function (obj) {
                var id = this.value;
                layui.use(['jquery', 'layer'], function () {
                    var $ = layui.$
                        , layer = layui.layer;
                    $.ajax({
                        url: "{% url 'public:changeProxy' %}",
                        method: 'POST',
                        data: {'id': id, 'is_available': obj.elem.checked},
                        success: function (res) {
                            if(res.status===1){
                                layer.tips('修改成功', obj.othis); //获取按钮状态 obj.elem.checked
                            }else{
                                layer.tips('修改失败，请重试', obj.othis);
                                obj.elem.checked = !obj.elem.checked;
                                form.render();
                            }
                        }
                    });
                });
            });

        });

        //验证
        function verify(ids, dataEle) {
            layui.use(['jquery', 'layer'], function () {
                var $ = layui.$
                    , layer = layui.layer;
                $.ajax({
                    url: "{% url 'public:checkProxy' %}",
                    method: 'POST',
                    data: {'ids': ids},
                    success: function (data) {
                        layer.msg('验证完毕，共验证' +
                            data.result.count + '条代理，' +
                            '有效' + data.result.valid + '条，失效' + data.result.invalid + '条',
                            {icon: 1, time: 1000}, function(){
                                dataEle.reload('proxyForm', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                    , where: {
                                        key: {
                                            {#id: demoReload.val()#}
                                        }
                                    }
                                }, 'data');
                            });
                    }
                });
            });
        }
    </script>
{% endblock %}