{% extends 'lib/base.html' %}
{% load static %}
{% block title %}探测爬虫{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-btn-group record-table-btn" style="margin-bottom: 10px;">
                            <button class="layui-btn" data-type="add">一键添加</button>
                        </div>

                        <table class="layui-hide" id="record-table" lay-filter="record-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="file-data" type="hidden" data-file="{{ file | safe }}">
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index',
            probe: 'public/spider_manage_probe'
        }).use(['index', 'probe']);
    </script>
{% endblock %}


