{% extends 'lib/base.html' %}
{% load static %}
{% block title %}爬虫操作{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">

                <div class="layui-card">
                    <div class="layui-card-header">爬虫操作</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="{% url 'public:spider_operate_run' %}" lay-filter="component-form-element"
                              method="post">
                            {% csrf_token %}
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg12">
                                    <label class="layui-form-label">操作爬虫：</label>
                                    <div class="layui-input-block">
                                        <label>
                                            <select name="spider" lay-verify="required" lay-filter="selectSpider"
                                                    lay-search>
                                                <option value="">请选择爬虫</option>
                                                {% for spider in spiders %}
                                                    <option value="{{ spider.name }}">{{ spider.name }}({{ spider.remark }})</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="component-form-element">启动爬虫
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>

                    <script type="text/html" id="lg_position_input">
                        <div class="papers_input_content">
                            <div class="layui-form-item">
                                <label class="layui-form-label">城市分站：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="city" value="全国" title="全国站" checked>
                                    <input type="radio" name="city" value="上海" title="上海站">
                                    <input type="radio" name="city" value="杭州" title="杭州站">
                                    <input type="radio" name="city" value="深圳" title="深圳站">
                                    <input type="radio" name="city" value="成都" title="成都站">
                                    <input type="radio" name="city" value="武汉" title="武汉站">
                                    <input type="radio" name="city" value="江苏" title="江苏站">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">线程数量：</label>
                                <div class="layui-input-block">
                                    <div id="thread" style="padding-top: 15px;"></div>
                                    <input name="thread" id="threadCount" type="hidden" value="20">
                                </div>
                            </div>
                            <div class="layui-form-item layui-row layui-col-space10">
                                <div class="layui-col-lg12">
                                    <label class="layui-form-label">爬取种类：</label>
                                    <div class="layui-input-block">
                                        <select name="kd" lay-verify="required" lay-filter="selectLan" lay-search>
                                            <option value="">请选择语言</option>
                                            {% for type in position_types %}
                                            <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/html" id="lg_company_input">
                        <div class="papers_input_content">
                            <div class="layui-form-item layui-row layui-col-space10">
                                <label class="layui-form-label">公司id：</label>
                                <div class="layui-input-inline">
                                    <label>
                                        <input name="cid" placeholder="请输入公司id" class="layui-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </script>

                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">运行记录</div>
                    <div class="layui-card-body">
                    <form id="filterData" class="layui-form" style="">

                        <div class="layui-form-item" style="margin-bottom: 10px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">ID：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" name="id" autocomplete="off">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">爬虫名称：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" placeholder="支持模糊搜索" name="spider_name__contains" autocomplete="off">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">运行状态</label>
                                <div class="layui-input-inline">
                                    <select name="status">
                                        <option value="">请选择运行状态</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">开始时间</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="start_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date-range" lay-key="1">
                                  </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">结束时间</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="end_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date-range" lay-key="2">
                                  </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">备注：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" placeholder="支持模糊搜索" name="remark__contains" autocomplete="off">
                                </div>
                            </div>

                            <div style="text-align: right;">
                                <button class="layui-btn" id="filter" data-type="filter" type="button">筛选</button>
                                <button type="reset" class="layui-btn layui-btn-primary" style="margin-right: 50px">重置</button>
                            </div>
                        </div>
                    </form>

                        <table class="layui-hide" id="spiderRunlogData" lay-filter="spiderRunlogData"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}'
        }).extend({
            index: '/lib/index'
        }).use(['index', 'table', 'form', 'laytpl', 'slider', 'laydate'], function () {
        var form = layui.form
            , table = layui.table
            , laytpl = layui.laytpl
            , slider = layui.slider
            , laydate = layui.laydate;

            lay('.date-range').each(function () {
                laydate.render({
                    elem: this
                    , type: 'datetime'
                    , range: true
                });
            });

            form.render();

            table.render({
                elem: '#spiderRunlogData'
                , url: '{% url 'log:spider_filter' %}'
                , method: 'GET'
                , initSort: {field: 'id', type: 'desc'}
                , cols: [[
                    {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'spider_name', title: '爬虫名称', width: 100}
                    , {field: 'status', title: '运行状态', width: 90}
                    , {field: 'param', title: '运行参数', width: 130}
                    , {field: 'task_id', title: '任务ID', width: 300, sort: true}
                    , {field: 'start_time', title: '开始时间', width: 180, sort: true}
                    , {field: 'end_time', title: '结束时间', width: 180, sort: true}
                    , {field: 'remark', title: '备注', width: 180}
                ]]
                , page: true
                , id: 'runLogForm'
            });

            var $ = layui.$, active = {
                filter: function () {
                    var filter = $('#filterData').serialize();
                    console.log(filter);
                    table.reload('runLogForm', {
                    url: "{% url "log:spider_filter" %}?" + filter
                    , page: { curr: 1 }
                    , method: "GET"
                    , where: {}
                });
                }
            };

            //重载按钮
            $('#filter').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //监听行双击事件（单击事件为：row）
            table.on('rowDouble(spiderRunlogData)', function (obj) {
                var data = obj.data;

                layer.alert(JSON.stringify(data), {
                    title: '当前行数据：'
                });

                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });

            //监听下拉框变化
            form.on('select(selectSpider)', function (obj) {
                var elem = obj.othis;
                var itemElem = elem.closest('.layui-form-item');
                itemElem.next('.papers_input_content').remove();
                var value = obj.value;
                var textTemp = $('#' + value + '_input').html();
                if (textTemp) {
                    $(laytpl(textTemp).render({})).insertAfter(itemElem);
                    form.render();
                    slider.render({
                        elem: '#thread' ,min: 1 ,max: 30 ,value: 20
                        , change: function (val) {
                            $('#threadCount').val(val);
                        }
                    });
                }
            })

        });
    </script>
{% endblock %}


