{% extends 'lib/base.html' %}
{% load static %}
{% block title %}爬虫操作{% endblock %}
{% block header_include_after %}
{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <!-- 爬虫配置 -->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">爬虫配置</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="{% url 'public:spider_operate_run' %}" lay-filter="run-spider-form" method="post">
                            {% csrf_token %}
                            <!-- 配置主体 -->
                            <div class="layui-row">
                                <div class="layui-col-md6 layui-col-space10">
                                    <!-- 选择爬虫 -->
                                    <div class="layui-col-lg12  layui-form-item">
                                        <label class="layui-form-label">操作爬虫：</label>
                                        <div class="layui-input-block">
                                            <label>
                                                <select name="spider" lay-verify="required" lay-filter="dynamic_render"
                                                        lay-search>
                                                    <option value="">请选择爬虫</option>
                                                    <optgroup label="自编爬虫">
                                                    {% for spider in spiders %}
                                                        {% if not spider.is_frame %}
                                                            <option value="{{ spider.name }}" components="keyword proxy thread input filter" render-type="{{ spider.name }}">{{ spider.name }}({{ spider.remark }})</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </optgroup>
                                                    <optgroup label="Scrapy框架">
                                                    {% for spider in spiders %}
                                                        {% if spider.is_frame %}
                                                            <option value="{{ spider.name }}" components="{{ spider.component }}" render-type="{{ spider.name }}">{{ spider.name }}({{ spider.remark }})</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </optgroup>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6 layui-col-space10">
                                    <!-- 启动按钮 -->
                                    <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit>启动爬虫</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- 组件加载区 -->
                            <div class="layui-row" id="component-loader">

                            </div>
                        </form>

                        <!-- 代理控件 -->
                        <script type="text/html" id="proxy-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div class="layui-col-lg12  layui-form-item">
                                    <label class="layui-form-label">爬虫代理：</label>
                                    <div class="layui-input-block">
                                        <select name="proxy_source" lay-filter="select-proxy-type">
{#                                            <option value="">不使用代理</option>#}
                                            <option value="api">第三方代理</option>
                                            <option value="sql">自建代理</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </script>

                        <!-- 城市选择控件 -->
                        <script type="text/html" id="city-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div class="layui-col-lg12  layui-form-item">
                                    <label class="layui-form-label">城市分站：</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="city" value="全国" title="全国站" checked>
                                        <input type="radio" name="city" value="上海" title="上海站">
                                        <input type="radio" name="city" value="杭州" title="杭州站">
                                        <input type="radio" name="city" value="深圳" title="深圳站">
                                        <input type="radio" name="city" value="成都" title="成都站">
                                        <input type="radio" name="city" value="武汉" title="武汉站">
                                        <input type="radio" name="city" value="江苏" title="江苏站">
                                    </div>
                                </div>
                            </div>
                        </script>

                        <!-- 线程控件 -->
                        <script type="text/html" id="thread-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div class="layui-col-lg12  layui-form-item">
                                    <label class="layui-form-label">线程数量：</label>
                                    <div class="layui-input-block">
                                        <div id="thread" style="padding-top: 15px;"></div>
                                        <input name="thread" id="threadCount" type="hidden" value="20">
                                    </div>
                                </div>
                            </div>
                        </script>

                        <!-- 关键字控件 -->
                        <script type="text/html" id="keyword-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div class="layui-col-lg12  layui-form-item">
                                    <label class="layui-form-label">关键字：</label>
                                    <div class="layui-input-block">
                                        <select name="classify" lay-verify="required" lay-filter="selectLan" lay-search>
                                            <option value="">请选择关键字</option>
                                            {% for type in position_types %}
                                            <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </script>


                        <!-- 输入组件 -->
                        <script type="text/html" id="input-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div class="layui-col-lg12  layui-form-item">
                                    <label class="layui-form-label">公司id：</label>
                                    <div class="layui-input-block">
                                        <label>
                                            <input name="cid" placeholder="请输入公司id" class="layui-input">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </script>

                        <!-- 过滤组件 -->
                        <script type="text/html" id="filter-component">
                            <div class="layui-col-md6 layui-col-space10 layui-inline">
                                <div id="filter-container" class="layui-col-lg12">
                                    <label class="layui-form-label filter-line">过滤条件：</label>
                                </div>
                            </div>
                        </script>

                        <!-- 过滤单行组件 -->
                        <script type="text/html" id="filter-line">
                            <div id="filter-template" class="layui-input-block layui-col-space10 filter-line">
                                <div class="layui-col-sm4 layui-col-xs12">
                                    <label>
                                        <input name="k" placeholder="请输入key" class="layui-input">
                                    </label>
                                </div>
                                <div class="layui-col-sm4 layui-col-xs12">
                                    <label>
                                        <input name="v" placeholder="请输入value" class="layui-input">
                                    </label>
                                </div>
                                <div class="layui-col-sm3 layui-col-xs12">
                                    <label>
                                        <select name="opt">
                                            <option value="">请选择连接符</option>
                                            <option value="-1|0">end</option>
                                            <option value="0|0">or</option>
                                            <option value="1|0">and</option>
                                            <option value="0|1">or not</option>
                                            <option value="1|1">and not</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="layui-col-sm1  layui-col-xs12">
                                    <div class="add-filter {% verbatim %}{{ d.filterCount }}{% endverbatim %}" style="position: absolute;top: 12px;cursor:pointer;">
                                        <i class="layui-icon layui-icon-add-circle" style="font-size: 20px; color: #70bf2b;"></i>
                                    </div>
                                    {% verbatim %}{{# if (d.filterCount !== 1) { }}{% endverbatim %}
                                    <div class="del-filter" style="position: absolute;left: 30px;top: 12px;cursor:pointer; z-index: 100;">
                                        <i class="layui-icon layui-icon-delete" style="font-size: 20px; color: #ba2121;"></i>
                                    </div>
                                    {% verbatim %}{{# } }}{% endverbatim %}
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </script>

                    </div>
                </div>
            </div>
            <!-- 运行记录 -->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">运行记录</div>
                    <div class="layui-card-body">
                    <form id="filterData" class="layui-form" style="">

                        <div class="layui-form-item" style="margin-bottom: 10px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">ID：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" name="id" autocomplete="off">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">爬虫名称：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" placeholder="支持模糊搜索" name="spider_name__contains" autocomplete="off">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">运行状态</label>
                                <div class="layui-input-inline">
                                    <select name="status">
                                        <option value="">请选择运行状态</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">开始时间</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="start_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date-range" lay-key="1">
                                  </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">结束时间</label>
                                  <div class="layui-input-inline">
                                    <input type="text" name="end_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date-range" lay-key="2">
                                  </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">备注：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input filter-form" placeholder="支持模糊搜索" name="remark__contains" autocomplete="off">
                                </div>
                            </div>

                            <div style="text-align: right;">
                                <button class="layui-btn" id="filter" data-type="filter" type="button">筛选</button>
                                <button type="reset" class="layui-btn layui-btn-primary" style="margin-right: 50px">重置</button>
                            </div>
                        </div>
                    </form>

                        <table class="layui-hide" id="spiderRunlogData" lay-filter="spiderRunlogData"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}'
        }).extend({
            index: '/lib/index'
        }).use(['index', 'table', 'form', 'laytpl', 'slider', 'laydate'], function () {
        var form = layui.form
            , table = layui.table
            , laytpl = layui.laytpl
            , slider = layui.slider
            , laydate = layui.laydate
            , $ = layui.$
            , active = {
                filter: function () {
                    var filter = $('#filterData').serialize();
                    table.reload('runLogForm', {
                    url: "{% url "log:spider_filter" %}?" + filter
                    , page: { curr: 1 }
                    , method: "GET"
                    , where: {}
                });
                }
            }
            , filterCounter = 0;

            form.render();

            // 加载日历组件
            lay('.date-range').each(function () {
                laydate.render({
                    elem: this
                    , type: 'datetime'
                    , range: true
                });
            });

            // 筛选按钮
            $('#filter').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            // 渲染数据
            table.render({
                elem: '#spiderRunlogData'
                , url: '{% url 'log:spider_filter' %}'
                , method: 'GET'
                , initSort: {field: 'id', type: 'desc'}
                , parseData: function (res) {
                    return {
                        data: res.data,
                        msg: res.msg,
                        code: res.code,
                        count: res.extra.total
                    }
                }
                , cols: [[
                    {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'spider_name', title: '爬虫名称', width: 150}
                    , {
                        field: 'status', title: '运行状态', width: 90, templet: function (d) {
                            if (d.status) return "运行完毕";
                            return "运行中";
                        }
                    }
                    , {field: 'param', title: '运行参数', width: 130}
                    , {field: 'task_id', title: '任务ID', width: 300, sort: true}
                    , {
                        field: 'start_time', title: '开始时间', width: 160, sort: true,
                        templet: function (d) {
                            return d.start_time.replace("T", "\t").split(".")[0];
                        }
                    }
                    , {
                        field: 'end_time', title: '结束时间', width: 160, sort: true,
                        templet: function (d) {
                            if (d.end_time) {
                                return d.end_time.replace("T", "\t").split(".")[0];
                            }else{
                                return d.end_time
                            }
                        }
                    }
                    , {field: 'remark', title: '备注', width: 180}
                ]]
                , page: true
                , id: 'runLogForm'
            });

            // 监听行双击事件（单击事件为：row）
            table.on('rowDouble(spiderRunlogData)', function (obj) {
                var data = obj.data;

                layer.alert(JSON.stringify(data), {
                    title: '当前行数据：'
                });

                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });

            // 监听下拉框变化
            form.on('select(dynamic_render)', function (obj) {
                var elem = obj.othis
                , componentContainer = $("#component-loader")
                {#, components = ["proxy", "city", "thread", "keyword", "input", "filter"]#}
                , components = obj.elem[obj.elem.selectedIndex].getAttribute('components').split(" ")
                , component = "proxy"
                , templates = []
                , template = $('#' + component + '-component').html();

                // 清空组件加载
                componentContainer.empty();
                filterCounter = 0;
                // 选择需要的组件
                for (let component of components) {
                    templates.push($('#' + component + '-component').html());
                }
                // 渲染
                for (let template of templates) {
                    if(template !== undefined) {
                        componentContainer.append($(laytpl(template).render({}))[0])
                    }
                }
                insNode(0, 0, 4);
                form.render(null, 'run-spider-form');
                slider.render({
                    elem: '#thread' ,min: 1 ,max: 30 ,value: 20
                    , change: function (val) {
                        $('#threadCount').val(val);
                    }
                });
            })

            // 插入节点
            function insNode(container, template, maxcount)
            {
                if (filterCounter >= maxcount) {
                    layer.msg('最多只能过滤' + maxcount + "条!", {icon: 2});
                    return
                }
                var template = template ? template : $("#filter-line").html()
                , container = container ? container : $("#filter-container");
                container.append($(laytpl(template).render({filterCount: ++filterCounter})));
                $('.add-filter').off('click').on('click', (function(){
                    insNode(container, template, maxcount);
                }));
                $('.del-filter').on('click', (function(){
                    filterCounter--;
                    this.closest('.filter-line').remove();
                }));
                form.render(null, 'run-spider-form');
            }
        });
    </script>
{% endblock %}


