{% extends 'lib/base.html' %}
{% load static %}
{% block title %}编辑组件{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-card">
{#            <div class="layui-card-header">表单组合</div>#}
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">组件名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="name" placeholder="请输入名称"
                                   autocomplete="off" class="layui-input" value="{{ name }}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">组件代码
                        <i class="layui-icon layui-icon-help" style="font-size: 15px;"></i>
                        </label>
                        <div class="layui-input-block">
                            <textarea id="code-editor" name="code" placeholder="请输入代码" style="display: none;"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">Scrapy适用</label>
                        <div class="layui-input-block">
                            <input type="radio" name="frame_available" value="1" title="是" {% if frame_available %}checked{% endif %}>
                            <input type="radio" name="frame_available" value="0" title="否" {% if not frame_available %}checked{% endif %}>
                        </div>
                    </div>

                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">有效性</label>
                        <div class="layui-input-block">
                            <input type="checkbox" value="1" name="is_available" lay-skin="primary" title="有效" {% if not is_available %}{% else %}checked{% endif %}>
                            <input type="checkbox" value="1" name="is_delete" lay-skin="primary" title="已删除" {% if is_delete %}checked{% endif %}>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <textarea name="description" placeholder="请输入描述" class="layui-textarea">{{ description }}</textarea>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="layui-footer" style="text-align: center;">
                        <button class="layui-btn" lay-submit="" lay-filter="do-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        var code = `{% for line in code %}{{ line|safe }}{% endfor %}`
    </script>
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index',
            spider_component_edit: 'public/spider_component_edit',
        }).use(['index', 'spider_component_edit']);
    </script>
{% endblock %}


