{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-card">
{#            <div class="layui-card-header">表单组合</div>#}
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">爬虫名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="name" placeholder="请输入路径"
                                   autocomplete="off" class="layui-input" value="{{ name }}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">文件路径
                        <i class="layui-icon layui-icon-help" style="font-size: 15px;"></i>
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="path" lay-verify="path" placeholder="请输入名称"
                                   autocomplete="off" class="layui-input" value="{{ path }}">
                        </div>
                    </div>

                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">有效性</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="is_available" lay-skin="primary" title="有效" {% if not is_available %}{% else %}checked{% endif %}>
                            <input type="checkbox" name="is_delete" lay-skin="primary" title="已删除" {% if is_delete %}checked{% endif %}>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" placeholder="请输入备注" class="layui-textarea">{{ remark }}</textarea>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="layui-footer" style="text-align: center;">
                        <button class="layui-btn" lay-submit="" lay-filter="do-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , index = parent.layer.getFrameIndex(window.name)
                , layer = layui.layer
                , form = layui.form;

            form.render(null, 'component-form-group');

            /* 自定义验证规则 */
            form.verify({
                name: function (value) {
                    if (!value) {
                        return '请填写爬虫名称';
                    }
                    if(value.length > 50) {
                        return '名称过长，请重新输入';
                    }
                }
                , path: [/^([\\\/].*?\.py)$/, '输入的路径有误']
            });

            /* 监听提交 */
            form.on('submit(do-submit)', function (formData) {
                var send_url = "{% url 'public:spider_manage_edit' spider_id=0 %}";
                {% if id %}
                    send_url = send_url.replace("/0/", '/' + {{ id }} + '/');
                {% endif %}
                $.ajax({
                    url: send_url,
                    type:'post',
                    data:formData.field,
                    beforeSend:function () {
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    success:function(data){
                        if(data.status == 'error'){
                            layer.msg(data.msg,{icon: 5});
                            return false;
                        }else if(data.status == 'success'){
                            layer.msg(data.msg, {icon: 6, time: 1000}, function(){
                                parent.location.reload();
                                parent.layer.close(index);
                            });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });

                return false;
            });

            $(".layui-icon-help").mouseover(function() {
                layer.tips('相对于项目所在的路径。例:/myapp/spider/myspider.py', this, {
                  tips: [1, "#000"]
                });
            });
        });
    </script>
{% endblock %}


