{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block header_include_after %}
    <style data-for="result" type="text/css">
    .my-skin a.layui-layer-btn0{
        background-color: #FF5722;
        border: 1px solid #FF5722;
        color: #FFF;
    }
   </style>
{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-btn-group record-table-btn" style="margin-bottom: 10px;">
                            <button class="layui-btn" data-type="add">手动添加</button>
                            <button class="layui-btn" data-type="autoAdd" style="margin-left: 10px !important;">自动探测</button>
                        </div>

                        <table class="layui-hide" id="record-table" lay-filter="record-table"></table>

                        <script type="text/html" id="table-operate">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index',
            spider_manage: 'public/spider_manage',
        }).use(['index', 'spider_manage']);
    </script>
{% endblock %}


