{% extends 'lib/base.html' %}
{% load static %}
{% block title %}数据展示{% endblock %}
{% block content %}

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">设置我的资料</div>
                    <div class="layui-card-body" pad15>
                        <form class="layui-form" lay-filter="info_change" action="{% url 'user:info_change' %}" method="post">
                            {% csrf_token %}

                            <div class="layui-form-item">
                                <label class="layui-form-label">我的角色</label>
                                <div class="layui-input-inline">
                                    <select name="role" lay-verify="">
                                        <option value="1" {% if user.is_superuser == 1 %}selected{% else %}disabled{% endif %}>超管</option>
                                        <option value="2" {% if user.is_superuser == 0 and user.is_staff == 1 %}selected{% else %}disabled{% endif %}>职员</option>
                                        <option value="3" {% if user.is_superuser == 0 and user.is_staff == 0 %}selected{% else %}disabled{% endif %}>用户</option>
                                    </select>
                                </div>
                                <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="username" value="{{ user.username }}" readonly
                                           class="layui-input" disabled>
                                </div>
                                <div class="layui-form-mid layui-word-aux">登录使用，不可修改。</div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nick_name" value="{{ user.nick_name }}"
                                           lay-verify="nickname"
                                           autocomplete="off" placeholder="请输入昵称" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="2" title="保密"
                                           {% if user.sex == 2 %}checked{% endif %}>
                                    <input type="radio" name="sex" value="1" title="男"
                                           {% if user.sex == 1 %}checked{% endif %}>
                                    <input type="radio" name="sex" value="0" title="女"
                                           {% if user.sex == 0 %}checked{% endif %}>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline">
                                    <div class="layui-upload-list" style="margin:0">
                                        <img src="{% if user.face_img %}{{ user.face_img }}{% else %}/media/face_img/default.png{% endif %}" id="srcimgurl" class="layui-upload-img">
                                    </div>
                                </div>
                                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                    <button type="button" class="layui-btn layui-btn-primary" id="editimg">修改图片</button>
                                </div>
                                <div class="layui-form-mid layui-word-aux">头像的尺寸限定150x150px,大小在50kb以内</div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">手机</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="mobile"
                                           value="{% if not user.mobile %}{% else %}{{ user.mobile }}{% endif %}"
                                           lay-verify="phone" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" value="{{ user.email }}" lay-verify="email"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="qq"
                                           value="{% if not user.qq %}{% else %}{{ user.qq }}{% endif %}"
                                           lay-verify="number" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="info_change">确认修改</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: '/lib/index' //主入口模块
        }).use(['index', 'set', 'croppers'], function () {
            var table = layui.table
                , form = layui.form
                , $ = layui.jquery
                , croppers = layui.croppers;

            croppers.render({
                elem: '#editimg'
                , saveW: 150     //保存宽度
                , saveH: 150
                , mark: 1 / 1    //选取比例
                , area: '900px'  //弹窗宽度
                , url: "{% url 'user:info_upload' %}"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
                , done: function (url) { //上传完毕回调
                    $("#inputimgurl").val(url);
                    $("#srcimgurl").attr('src', url);
                }
            });

        });
    </script>
{% endblock %}