{% extends 'lib/base.html' %}
{% load static %}
{% block title %}用户资料修改{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <label class="layui-form-label">头像</label>
                        <div class="layui-input-inline">
                            <div class="layui-upload-list" style="margin:0">
                                <img width="100px" class="layui-upload-img" id="face_img" src="{% if face_img %}{{ face_img }}{% else %}/media/face_img/default.png{% endif %}">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="username" placeholder="请输入用户名"
                                   autocomplete="off" class="layui-input" value="{{ username }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="nick_name" lay-verify="nickname" placeholder="请输入昵称"
                                   autocomplete="off" class="layui-input" value="{{ nick_name }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="mobile" lay-verify="mobile" placeholder="请输入手机号码"
                                   autocomplete="off" class="layui-input" value="{% if mobile %}{{ mobile }}{% endif %}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱"
                                   autocomplete="off" class="layui-input" value="{% if email %}{{ email }}{% endif %}">
                        </div>
                    </div>

                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" lay-skin="primary" value="1" title="男" {% if sex == 1 %}checked{% endif %}>
                            <input type="radio" name="sex" lay-skin="primary" value="0" title="女" {% if sex == 0 %}checked{% endif %}>
                            <input type="radio" name="sex" lay-skin="primary" value="2" title="保密" {% if sex == 2 %}checked{% endif %}>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="layui-footer" style="text-align: center;">
                        <button class="layui-btn" lay-submit="" lay-filter="do-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index',
            manage_profile: 'user/manage_profile'
        }).use(['index', 'manage_profile']);
    </script>
{% endblock %}