{% extends 'lib/base.html' %}
{% load static %}
{% block title %}用户注册{% endblock %}
{% block header_include_after %}
    <link type="text/css" rel="stylesheet" href="{% static "layuiadmin/style/login.css" %}"/>
{% endblock %}
{% block content %}
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>用户注册</h2>
                <p>More and more...</p>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-nickname"></label>
                    <input type="text" name="username" id="LAY-user-login-nickname" lay-verify="username"
                           placeholder="用户名"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="pass"></label>
                    <input type="password" name="password" id="pass" lay-verify="pass"
                           placeholder="密码"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="repass"></label>
                    <input type="password" name="repass" id="repass" lay-verify="repass"
                           placeholder="确认密码"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                           for="LAY-user-login-cellphone"></label>
                    <input type="text" name="mobile" id="LAY-user-login-cellphone" lay-verify="phone"
                           placeholder="手机"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-vercode"></label>
                            <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="vercode"
                                   placeholder="验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid"
                                        id="LAY-user-getsmscode">获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="act-form">注 册</button>
                </div>
                {% include 'lib/thirdparty.html' with act_type="注册" or_act="用已有帐号登入" or_href="login" %}
            </div>
        </div>
        {% include 'lib/footer.html' %}
    </div>
{% endblock %}
{% block tail_include_after %}
    <script>
        layui.config({base: '{% static 'layuiadmin/' %}'}).extend({index: 'lib/index'
        }).use(['index', 'form', 'reg_login'], function () {var reg_login = layui.reg_login;
            reg_login.bg();reg_login.reg('{% url 'reg' %}');
        });
    </script>
{% endblock %}